
# Pasta do site de documentos
sitedocumentounipar/

# Arquivos PDF
*.pdf

# Arquivos de imagem do site (opcional - se quiser ignorar)
sitedocumentounipar/images/


# Arquivos de relatório
relatorio_*.html






# Arquivos de backup
*.bak
*.backup

# Arquivos temporários do sistema
*.tmp
*.temp
.DS_Store
Thumbs.db
